#admin {
  #menu-admin {
    background: #404040;
    ul {
      padding: 0;
      margin: 0;
      li {
        float: left;
        display: inline-block;
        list-style: none;
        color: #FFF;
        padding: 20px;
        span {
          cursor: pointer;
        }
      }
      a {
        text-decoration: none;
        color: #fff;
      }
    }
    .dropdown-menu {
      margin-top: 0;
      li {
        width: 100%;
        padding: 0;
        &:hover {
          background: #0F90FF !important;
        }
        &.actived {
          background: #0F90FF;
        }
      }
      a {
        color: #000;
      }
    }
  }
  .form-login-admin {
    padding: 0 400px;
    text-align: center;
  }
  .container-blog {
    position: relative;
    top: 30px;
    left: 200px;
    background: #F5F5F5;
    float: left;
    padding: 30px 100px;
    box-sizing: content-box;
    border: 1px solid;
  }

  #cke_post_content {
    width: 60vw;
  }

  #content-confirm {
    width: 60vw;
  }

  #post_thumbnail, #post_avatar {
    display: none;
  }

  .update-time-public, .cancel-time-public, .time-public-update {
    display: none;
  }

  .new_post, .edit_post {
    .field_with_errors {
      .message {
        color: red;
      }
    }
    .custom-label {
      background: #0D5B9D;
      border-radius: 1vh;
      color: #fff;
      padding: 1vh 0;
      text-align: center;
      width: 100%;
    }
    #title-error, #publish-time-error, #thumbnail-error, #content-error,
      #author-name-error, #position-error, #age-error, #avatar-error,
        #avatar-error-format, #thumbnail-error-format, #age-error-format,
          #age-error-number{
      color: red;
    }
    .confirm {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  #fillter {
    background: #EFEFEF;
    border-radius: 2vh;
    padding: 4vh;
    .btn-search {
      margin-top: 24px;
    }
    .search-fillter {
      border-bottom: 1px solid #bfbfbf;
      font-size: 20px;
      padding: 15px 0;
    }
    .custom-btn {
      padding: 0;
    }
  }

  .btn-create-blog {
    margin: 30px 0 0;
    a {
      border-radius: 5px;
      text-decoration: none;
      padding: 10px;
    }
  }

  .list-post {
    margin: 25px 0;
    .tbody-post {
      .td-title {
        width: 200px;
      }
      .custom-suggest {
        img {
          width: 3vh;
        }
      }
      .custom-image {
        img {
          width: 30vh;
        }
      }
      .custom-link-to {
        border: 1px solid #bfbfbf;
        border-radius: 5px;
        padding: 5px 25px;
        text-decoration: none;
      }
    }
    .pagination {
      span {
        display: none
      }
      em {
        background: #0f90ff;
        border: 1px solid #d6d6d7;
        box-shadow: 0 5px 12px -5px rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 4px 10px;
      }
      a {
        border: 1px solid #D6D6D7;
        padding: 4px 10px;
        background: #fff;
        box-shadow: 0 5px 12px -5px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
