<% provide :title, 'Signup' %>
<% provide :btn_back do %>
  <%= link_to posts_path do %>
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <% end %>
<% end %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="form-login">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field-input">
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email" %>
  </div>

  <div class="field-input">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div>

  <div class="field-input">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Password Confirm" %>
  </div>

  <div class="btn-login btn btn-info">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
  <h3>Login</h3>
  With your social media account
  <ul class="login-social">
    <li class="btn btn-danger">
      <i class="fa fa-google" aria-hidden="true"></i>
      <%= link_to user_google_oauth2_omniauth_authorize_path do %>
        Google
      <% end %>
    </li>
    <li class="btn btn-primary">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <%= link_to user_facebook_omniauth_authorize_path do %>
        FaceBook
      <% end %>
    </li>
  </ul>

  <p>If you have an Account?&nbsp;<span>Login Now!</span></p>
  <ul class="register">
    <li class="btn btn-info">
      <%= link_to new_user_session_path do %>
        Login
      <% end %>
    </li>
  </ul>

</div>
