<% provide(:title, "Hello #{current_user.name}") %>
<% provide :btn_back do %>
	<%= link_to post_path(@post.id) do %>
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
	<% end %>
<% end %>
<% provide :sign_out do %>
	<%= link_to destroy_user_session_path, method: :delete do %>
		<i class="fa fa-sign-out" aria-hidden="true"></i>
	<% end %>
<% end %>
<div class="container">
	<div class="show-post-author">
	<% if @user.avatar.present? %>
		<%= image_tag @user.avatar, class: 'show-avatar-user' %>
	<% else %>
		<%= image_tag 'default-avatar.jpg', class: 'show-avatar-user' %>
	<% end %>
		<!-- <div class="show-author-name"> -->
		<div class="show-user-name">
			<span class="show-name-user" id="show-name-user_<%= @user.id %>" data_id="<%= @user.id %>"><%= @user.name %></span>&nbsp;
			<input class="input-name-user" id="input-name-user_<%= @user.id %>"
				data_id="<%= @user.id %>"	value="<%= @user.name %>">
			<i id="save-name_<%= @user.id %>" class="save-name fa fa-save"></i>
			<i id="cancel-name_<%= @user.id %>" class="cancel-name fa fa-ban"></i>
			<i id="edit-name_<%= @user.id %>" class="edit-name fa fa-pencil-square-o"></i>
		</div>
		<!-- <div class="show-author-email"> -->
		<div class="show-user-email">
			<span class="show-email-user" id="show-email-user_<%= @user.id %>" data_id="<%= @user.id %>"><%= @user.email %></span>&nbsp;
			<input class="input-email-user" id="input-email-user_<%= @user.id %>"
				data_id="<%= @user.id %>"	value="<%= @user.email %>">
			<i id="save-email_<%= @user.id %>" class="save-email fa fa-save"></i>
			<i id="cancel-email_<%= @user.id %>" class="cancel-email fa fa-ban"></i>
			<i id="edit-email_<%= @user.id %>" class="edit-email fa fa-pencil-square-o"></i>
		</div>
	</div>
</div>
