<% provide :title, 'Home Admin' %>
<div class="container-blog">
	<div class="title-blog">ブログ</div>
	<div class="list-blog">
		<ul>
			<li>
				<%= link_to admins_posts_path do %>
					記事一覧
				<% end %>
			</li>
			<li>
				<%= link_to new_admins_post_path do %>
					記事作成
				<% end %>
			</li>
		</ul>
	</div>
</div>