<div id='fillter'>
	<div class='row'>
		<div class='col-md-12'>
			<p class="search-fillter">Search Fillter</p>
		</div>
	</div>
  <%= form_tag admins_posts_path, method: :get, remote: true do %>
  	<div class="row">
  		<div class="col-md-3">
  			  <%= label_tag 'Title' %>
			  <%= text_field_tag :post_title, params[:search],
			  	class: 'form-control' %>
  		</div>
  		<div class="col-md-2">
  			<%= label_tag 'Category' %>
		    <%= select_tag :category, options_for_select(@category,
		    	params[:search]), include_blank: true, class: 'form-control' %>
  		</div>
  		<div class="col-md-2">
  			<%= label_tag 'Public/UnPublic' %>
		    <%= select_tag :publish,
		    	options_for_select([["public", true], ["unpublic", false]],
		    		params[:search]), include_blank: true,
		    			class: 'form-control' %>
  		</div>
  		<div class="col-md-2">
  			<%= label_tag 'Suggest' %>
		    <%= select_tag :suggest,
		    	options_for_select([["suggest", true], ["unsuggest", false]],
		    		params[:search]), include_blank: true, 
		    			class: 'form-control' %>
  		</div>
  		<div class="col-md-2">
  			<%= label_tag 'Change/Sort' %>
		    <%= select_tag :publish_time,
		    	options_for_select([["DESC", true], ["ASC", false]],
		    		params[:search]), include_blank: true,
		    			class: 'form-control' %>
  		</div>
  		<div class="col-md-1">
			  <%= button_tag 'Seach',
			  	class: 'btn-search custom-btn form-control' do %>
			    	Search
			  <% end %>
  		</div>
  	</div>
  <% end %>
</div>