<%= form_for [:admins, @post], html: { multipart: true } do |f| %>
	<div class="row">
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-3">
					<%= f.label :title, class: 'custom-label' %>
				</div>
				<div class="col-md-6">
					<%= f.text_field :title, class: "form-control" %>
					<div id="title-confirm"></div>
					<div id="title-error"></div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :category, class: 'custom-label' %>
				</div>
				<div class="col-md-6">
					<%= f.select :category, @category %>
					<div id="category-confirm"></div>
					<div id="category-error"></div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :publish_time, class: 'custom-label' %>
				</div>
				<div class="col-md-6">
	        <div class="form-group">
	    			<%= f.text_field :publish_time, id: 'time-public-update',
	    				class: 'form-control' %>
		        <div id="publish-time-confirm"></div>
		        <div id="publish-time-error"></div>
	        </div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :publish, class: 'custom-label' %>
				</div>
				<div class="col-md-6">
					<%= f.check_box :publish %>
					<div id="publish-confirm"></div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :suggest, class: 'custom-label' %>
				</div>
				<div class="col-md-6">
					<%= f.check_box :suggest %>
					<div id="suggest-confirm"></div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :thumbnail, class: 'custom-label' %>
				</div>
				<div class="col-md-6">
					<% if @post.thumbnail? %>
						<%= image_tag @post.thumbnail_url, id: 'thumbnail-view',
							size: Settings.thumbnail_size %>
					<% else %>
						<%= image_tag 'default.png', id: 'thumbnail-view',
						 class: "image-create", size: Settings.thumbnail_size %>
					<% end %>
					<br>
					<br>
					<div id="input-thumbnail">
						<p>required/<=2MB/Only PNG,JPG</p>
	          <%= f.label :thumbnail, class: 'btn btn-default' do %>
	          	Open
	          <% end %>
						<%= f.file_field :thumbnail, class: 'upload-thumbnail' %>
					</div>
					<div id="thumbnail-error"></div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :content, class: 'custom-label' %>
				</div>
				<div class="col-md-6">
          <%= link_to "Preview", 'javascript:void(0)', id: 'preview-btn',
                      'data-toggle' => 'modal',
                      'data-target' => '#preview-modal' %>
					<div id="body-content">
						<%= f.cktext_area :content, class: 'post-content' %>
					</div>
					<div id="content-confirm"></div>
					<div id="content-error"></div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :author_name, class: 'custom-label' %>
				</div>
				<div class="col-md-6">
					<%= f.text_field :author_name, class: 'form-control' %>
					<div id="author-name-confirm"></div>
					<div id="author-name-error"></div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :position, class: 'custom-label' %>
				</div>
				<div class="col-md-6">
					<%= f.text_field :position, class: 'form-control' %>
					<div id="position-confirm"></div>
					<div id="position-error"></div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :age, class: 'custom-label' %>
				</div>
				<div class="col-md-6">
					<%= f.text_field :age, class: 'form-control' %>
					<div id="age-confirm"></div>
					<div id="age-error"></div>
					<div id="age-error-format"></div>
					<div id="age-error-number"></div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :avatar, class: 'custom-label' %>
				</div>
				<div class="col-md-6">
					<% if @post.avatar? %>
						<%= image_tag @post.avatar, id: 'avatar-view',
							size: Settings.thumbnail_size %>
					<% else %>
						<%= image_tag 'background-author.png', id: 'avatar-view',
						 class: 'image-create', size: Settings.thumbnail_size %>
					<% end %>
					<br>
					<br>
					<div id="input-avatar">
						<p>required/<=2MB/Only PNG,JPG</p>
	          <%= f.label :avatar, class: 'btn btn-default' do %>
	          	Open
	          <% end %>
						<%= f.file_field :avatar, class: 'upload-avatar' %>
					</div>
					<div id="avatar-error"></div>
				</div>
			</div>
			<br>
			<%= f.submit yield(:button_text), class: 'btn-save hidden btn btn-primary' %>
			<div class="row before-confirm">
				<div class="col-md-3 col-md-offset-6">
					<%= link_to admins_posts_path, id: 'btn-list', class: 'btn btn-default confirm' do %>
						List
					<% end %>
				</div>
				<div class="col-md-3">
					<%= link_to "javascript:void(0)", id: 'btn-submit', class: 'btn btn-primary confirm' do %>
						<%= yield(:button_text) %>
					<% end %>
				</div>
			</div>
			<div class="row after-confirm hidden">
				<div class="col-md-3 col-md-offset-6">
					<%= link_to "javascript:void(0)", id: 'btn-cancel', class: 'btn btn-default confirm' do %>
						Cancel
					<% end %>
				</div>
				<div class="col-md-3">
					<%= link_to "javascript:void(0)", id: 'btn-confirm', class: 'btn btn-primary confirm' do %>
						Confirm
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="preview-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal preview -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Preview</h4>
      </div>
      <div id="content-preview" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>