<table class='table table-hover text-center'>
	<thead>
	  <tr>
	  	<th class='text-center'>ID</th>
	    <th class='text-center'>Time Create</th>
	    <th class='text-center'>Title</th>
	    <th class='text-center'>Category</th>
	    <th class='text-center'>Suggest</th>
	    <th class='text-center'>Author</th>
	    <th class='text-center'>Thumbnail</th>
	    <th class='text-center'>Publish/UnPublish</th>
	    <th class='text-center'>Date Publish</th>
	    <th class='text-center'>Action</th>
	  </tr>
	</thead>
	<tbody class='tbody-post'>
	  <% @posts.each_with_index do |post| %>
	    <tr>
	    	<td><%= post.id %></td>
	    	<td><%= post.created_at.strftime('%H:%M %d/%m/%Y') %></td>
	    	<td class="td-title"><%= post.title %></td>
	    	<td><%= post.category %></td>
	    	<td class='custom-suggest'>
	    		<%= post.suggest ? (image_tag 'circle.png') : '' %>
	    	</td>
	    	<td><%= post.author_name %></td>
	    	<td>
	    		<%= default_image post %>
	    	</td>
	    	<td id='set-status_<%= post.id %>'>
	    		<% if post.check_publish_time? %>
	    			Not Publish
	    		<% else %>
	    			<%= post.publish ? 'Publish' : 'Not Publish' %>
	    		<% end %>
	    	</td>
	    	<td>
	    		<p id='time-public_<%= post.id %>'>
	    			<%= post.publish_time.strftime('%Y-%m-%d %H:%M') if
	    				post.publish_time.present? %>
	    		</p>
	    		<p class="input-group">
	    			<input type='text' data_id='<%= post.id %>'
	    				id='input-time-public-update_<%= post.id %>' 
	    					value='<%= post.publish_time.strftime('%Y-%m-%d %H:%M') if
	    						post.publish_time.present? %>' 
	    							class='form-control time-public-update'>
	    		</p>
					<p id='edit-time-public_<%= post.id %>' 
						class='btn btn-default edit-time-public' 
							data_id='<%= post.id %>'>
								Edit
					</p>
					<% if !post.check_publish_time? && post.publish? %>
						<p id='set-private_<%= post.id %>'
							class='btn btn-danger set-private' 
								data_id='<%= post.id %>'>
								Private
						</p>
					<% end %>
	    		<p id='update-time-public_<%= post.id %>' 
	    			class='btn btn-primary update-time-public' 
	    				data_id='<%= post.id %>'>
	    					Update
	    		</p>
	    		<p id='cancel-time-public_<%= post.id %>' 
	    			class='btn btn-default cancel-time-public' 
	    				data_id='<%= post.id %>'>
	    					Cancel
	    		</p>
	    	</td>
	      <td>
	        <%= link_to edit_admins_post_path(post),
	        	class: 'custom-link-to btn-default' do %>
          		Edit
	        <% end %>
	      </td>
	    </tr>
	  <% end %>
	</tbody>
</table>
