<% provide :title, 'Confirm Update Blog' %>
<h1>Confirm Update Blog</h1>
<br>
<%= form_for [:admins, @post], url: confirm_admins_posts_path do |f| %>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-3">
					<%= f.label :title %>
				</div>
				<div class="col-md-6">
					<%= f.hidden_field :title, value: @post.title %>
					<div>
						<%= @post.title %>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :category %>
				</div>
				<div class="col-md-6">
					<%= f.hidden_field :category, value: @post.category %>
					<%= @post.category %>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :publish_time %>
				</div>
				<div class="col-md-6">
					<%= f.hidden_field :publish_time, value: @post.publish_time.strftime('%H:%M %d/%m/%Y') if 
						@post.publish_time.present? %>
					<%= @post.publish_time.strftime('%H:%M %d/%m/%Y') if @post.publish_time.present? %>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :publish %>
				</div>
				<div class="col-md-6">
					<%= f.hidden_field :publish, value: @post.publish %>
					<%= @post.publish ? 'Publish' : 'Not Publish' %>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :suggest %>
				</div>
				<div class="col-md-6">
					<%= f.hidden_field :suggest, value: @post.suggest %>
					<%= @post.suggest ? 'Suggest' : 'Not Suggest' %>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :thumbnail %>
				</div>
				<div class="col-md-6">
					<%= f.hidden_field :thumbnail, value: @post.thumbnail_url %>
					<%= default_image @post %>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :content %>
				</div>
				<div class="col-md-6">
					<%= f.hidden_field :content, value: @post.content %>
					<div>
						<%= @post.content.html_safe if @post.content.present? %>
					</div>
				</div>
			</div>
			<br>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-3">
					<%= f.label :author_name %>
				</div>
				<div class="col-md-6">
					<%= f.hidden_field :author_name, value: @post.author_name %>
					<%= @post.author_name %>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :position %>
				</div>
				<div class="col-md-6">
					<%= f.hidden_field :position, value: @post.position %>
					<%= @post.position %>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :age %>
				</div>
				<div class="col-md-6">
					<%= f.hidden_field :age, value: @post.age %>
					<%= @post.age %>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<%= f.label :avatar %>
				</div>
				<div class="col-md-6">
					<%= f.hidden_field :avatar, value: @post.avatar_url %>
					<%= default_avatar @post %>
				</div>
			</div>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1 col-md-offset-5">
			<%= link_to "javascript:void(0)", class: 'button-back btn btn-default' do %>
				Back
			<% end %>
		</div>
		<div class="col-md-2">
			<%= f.submit "Save", class: 'btn btn-primary' %>
		</div>
	</div>
<% end %>