<% provide :title, 'List Blog' %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<h1>List Blog</h1>
<%= render 'filter' %>
<div class="btn-create-blog">
	<%= link_to new_admins_post_path, class: 'btn-primary' do %>
		Create Blog
	<% end %>
</div>
<div class="list-post">
	<div class="paginate">
		<%= will_paginate %>
	</div>
	<div class="table-filter">
		<%= render "table" %>
	</div>
	<div class="paginate">
		<%= will_paginate %>
	</div>
</div>