<% if @post.check_publish_time? %>
	$('#set-status_' + id).html('Not Publish');
	$('#set-private_' + id).addClass('hidden');
<% else %>
	<% if @post.publish? %>
		$('#set-status_' + id).html('Publish');
		$('#set-private_' + id).removeClass('hidden').removeAttr("style");
	<% else %>
		$('#set-status_' + id).html('Not Publish');
		$('#set-private_' + id).addClass('hidden');
	<% end %>
<% end %>
