<% provide :title, 'Login Admin' %>
<div class="form-login-admin">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
    <div class="field-input">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email" %>
    </div>

    <div class="field-input">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field remember">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <div class="btn-login">
      <%= f.submit "Log in", class: 'btn btn-info' %>
    </div>
  <% end %>
</div>
