<% provide :title, 'Login User' %>
<div class="container">
  <div class="form-login">
    With your social media account
    <ul class="login-social">
      <li class="btn btn-danger">
        <i class="fa fa-google" aria-hidden="true"></i>
        <%= link_to user_google_oauth2_omniauth_authorize_path do %>
          Google
        <% end %>
      </li>
      <li class="btn btn-primary">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <%= link_to user_facebook_omniauth_authorize_path do %>
          FaceBook
        <% end %>
      </li>
    </ul>
  </div>
</div>
