<ul>
	<li>
		<%= image_tag 'lol.png' %>
		<span class="count-lol">
			<%= @post.count_vote 'lol' %>
		</span>
	</li>
	<li>
		<%= image_tag 'smile.png' %>
		<span class="count-smile">
			<%= @post.count_vote 'smile' %>
		</span>
	</li>
	<li>
		<%= image_tag 'cry.png' %>
		<span class="count-cry">
			<%= @post.count_vote 'cry' %>
		</span>
	</li>
	<li>
		<%= image_tag 'sad.png' %>
		<span class="count-sad">
			<%= @post.count_vote 'sad' %>
		</span>
	</li>
</ul>