<ul>
	<li class='<%= "actived" if params[:category].blank? &&
		params[:suggest].blank? && params[:unsuggest].blank? %>'>
			<%= link_to posts_path, remote: true do %>
				All
			<% end %>
	</li>
	<li class='<%= "actived" if params[:suggest].present? &&
		params[:suggest] == "true" %>'>
			<%= link_to posts_path(suggest: 'true'), remote: true do %>
				Suggest
			<% end %>
	</li>
	<li class='<%= "actived" if params[:category].present? &&
		params[:category] == "study" %>'>
			<%= link_to posts_path(category: 'study'), remote: true do %>
				Study
			<% end %>
	</li>
	<li class='<%= "actived" if params[:category].present? &&
		params[:category] == "school" %>'>
			<%= link_to posts_path(category: 'school'), remote: true do %>
				School
			<% end %>
	</li>
	<li class='<%= "actived" if params[:category].present? &&
		params[:category] == "family" %>'>
			<%= link_to posts_path(category: 'family'), remote: true do %>
				Family
			<% end %>
	</li>
</ul>
