<div class="modal fade" id="popup-index" tabindex="-1" role="dialog" aria-labelledby="popup-index" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <%= image_tag 'popup-index.png' %>

        <%= link_to root_path, class: 'btn btn-blog' do %>
          <i class="fa fa-list pull-left"></i>
          記事一覧を見る
          <i class="fa fa-chevron-right pull-right arrow"></i>
        <% end %>

        <%= link_to creators_path, class: 'btn btn-profile' do %>
        	ナルフォード先生のプロフィールをみる
        	<i class="fa fa-chevron-right pull-right arrow"></i>
        <% end %>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $('#popup-index').modal();
</script>