<% if !@posts.nil? && @posts.size > 0 %>
	<% @posts.each do |post| %>
	 <div class="list-post">
		<div class="post-suggest_<%= post.suggest %>">
			<%= post.suggest ? image_tag('suggest.png') : "" %>
		</div>
		<div class="post-title">
			<%= link_to post_path(post) do %>
				<%= post.title %>
			<% end %>
		</div>
		<div class="post-category_<%= post.category %>">
			<%= post.category %>
		</div>
		<div class="post-publishtime">
			<%= post.publish_time.strftime('%d.%m.%Y') if post.publish_time.present? %>
		</div>
		<div class="post-vote">
			<ul>
				<li>
					<%= image_tag 'lol.png' %>
					<span><%= post.count_vote 'lol' %></span>
				</li>
				<li>
					<%= image_tag 'smile.png' %>
					<span><%= post.count_vote 'smile' %></span>
				</li>
				<li>
					<%= image_tag 'cry.png' %>
					<span><%= post.count_vote 'cry' %></span>
				</li>
				<li>
					<%= image_tag 'sad.png' %>
					<span><%= post.count_vote 'sad' %></span>
				</li>
			</ul>
		</div>
	 </div>
	<% end %>
<% end %>