<div class="show-share-post">
	<ul>
		<li>
			<%= link_to "https://twitter.com/intent/tweet?url=http://localhost:3000/posts/#{@post.id}&text=#{@post.title}", class: 'twitter-share-post' do %>
				<%= image_tag 'twitter.png' %>
			<% end %>
		</li>
		<li>
			<%= link_to "https://www.facebook.com/sharer.php?u=http://localhost:3000/posts/#{@post.id}&text=#{@post.title}", class: 'facebook-share-post' do %>
				<%= image_tag 'facebook.png' %>
			<% end %>
		</li>
		<li>
			<%= link_to "https://lineit.line.me/share/ui?url=http://localhost:3000/posts/#{@post.id}&text=#{@post.title}", class: 'line-share-post' do %>
				<%= image_tag 'line.png' %>
			<% end %>
		</li>
	</ul>
</div>