<div class="vote row">
	<div class="title-vote">
		参考になったかな？
	</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<div class="voted-lol vote-btn <%= 'actived-vote' if @vote.present? && @vote.vote_types == 'lol' %>" vote_type="lol" 
					vote_id="<%= @vote.id if @vote.present? %>">
					<span class="icon-lol">なるほど</span>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<div class="voted-smile vote-btn <%= 'actived-vote' if @vote.present? && @vote.vote_types == 'smile' %>" vote_type="smile"
					vote_id="<%= @vote.id if @vote.present? %>">
					<span class="icon-smile">おもしろい</span>
			</div>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-6">
			<div class="voted-cry vote-btn <%= 'actived-vote' if @vote.present? && @vote.vote_types == 'cry' %>" vote_type="cry"
					vote_id="<%= @vote.id if @vote.present? %>">
					<span class="icon-cry">難しい</span>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<div class="voted-sad vote-btn <%= 'actived-vote' if @vote.present? && @vote.vote_types == 'sad' %>" vote_type="sad"
					vote_id="<%= @vote.id if @vote.present? %>">
						<span class="icon-sad">がっかり</span>
			</div>
		</div>
		<input type="hidden" value="<%= post.id %>" class="post-id"></input>
		<% if current_user.present? %>
			<input type="hidden" value="<%= current_user.id %>" class="user-id"></input>
		<% end %>
</div>
