<% provide(:title, "#{@post.author_name}") %>
<% provide :btn_back do %>
	<%= link_to post_path(@post.id) do %>
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
	<% end %>
<% end %>
<div class="container">
	<div class="show-post-author">
		<div class="show-author-backgroundimage">
			<%= image_tag 'background-author.png' %>
		</div>
		<div class="text1-show-author">
			イーアス塾 特別講師
		</div>
		<div class="text2-show-author">
			ナルフォード先生
		</div>
		<div class="show-author-name">
			<span>Name:</span>
			<%= @post.author_name %>		
		</div>
		<div class="show-author-position">
			<span>Position:</span>
			<%= @post.position %>		
		</div>
		<div class="show-author-age">
			<span>Age:</span>
			<%= @post.age %>		
		</div>
		<div class="image-title-show-author">
			<%= image_tag 'title.png' %>
		</div>
	</div>
</div>