//sort category
$('.menu-sort').html('<%= j render "menu_sort" %>');

//pagination loadmore
<% if params[:load_more].present? %>
	$('#my-posts').append('<%= j render "post" %>');
<% else %>
	$('#my-posts').html('<%= j render "post" %>');
<% end %>
<% if @posts.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @posts, params: { load_more: "yes" } %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>