<% provide :title, 'なるほどブログ' %>
<% provide :bell do %>
	<%= link_to "#" do %>
		<%= image_tag 'bell.png' %>
	<% end %>
<% end %>
<div class='scroll-menu'>
	<div class='menu-sort'>
		<%= render 'menu_sort' %>
	</div>
</div>
<div class="container">
	<div id="my-posts">
		<%= render "post" %>
	</div>
	<div id="infinite-scrolling">
	  <%= will_paginate %>
	</div>
</div>
<%= render 'popup_index' if open_popup? %>