<% provide :title, 'なるほどブログ' %>
<% provide :btn_back do %>
	<%= link_to posts_path do %>
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
	<% end %>
<% end %>
<div class="container">
	<div class="show-post">
		<div class="suggest-show-post_<%= @post.suggest %>">
			<%= @post.suggest ? image_tag('suggest.png') : "" %>
		</div>
		<div class="title-show-post">
			<%= @post.title %>
		</div>
		<div class="hr-post"></div>
		<div class="category-show-post_<%= @post.category %>">
			<%= @post.category %>
		</div>
		<div class="publishtime-show-post">
			<%= @post.publish_time.strftime('%d.%m.%Y') if @post.publish_time.present? %>
		</div>
		<div class="vote-show-post">
			<%= render 'count_vote' %>
		</div>
		<div class="clearfix"></div>
		<%= render 'share_post' %>
		<div class="thumbnail-show-post">
			<%= image_tag @post.thumbnail if @post.thumbnail.present? %>
		</div>
		<div class="content-show-post">
			<%= @post.content.html_safe if @post.content.present? %>
		</div>
		<div class="author-show-post">
			<div class="avatar-author">
				<%= avatar_author @post %>
			</div>
			<div class="intro-author">
				この記事を書いた人
			</div>
			<div class="name-author">
				<%= @post.author_name %>
			</div>
			<div class="position-author">
				<%= @post.position %> / <%= @post.age %> Age
			</div>
			<div class="view-author">
				<%= link_to post_author_posts_path @post do %>
					ナルフォード先生のプロフィールを見る >
				<% end %>
			</div>
		</div>
		<%= render 'vote', post: @post %>
		<div class="share-post-bottom">
			<%= image_tag 'icon-share-post.png' %>&nbsp;SNSでシェアする
		</div>
		<%= render 'share_post' %>
		<br>
	</div>
</div>

