header {
  background: #FF7300;
  color: #fff;
  font-size: 2em;
  text-align: center;
  position: fixed;
  height: 96px;
  padding: 25px 0 0 0;
  top: 0;
  z-index: 999;
  width: 100%;
	@media screen and (max-width: 520px) {
		text-align: unset;
		padding: 25px 0 0 100px;
	}
  .back {
    position: absolute;
    left: 70px;
  }
  .bell {
    position: absolute;
    left: 70px;
  }
  .signout {
  	position: absolute;
  	right: 30px;
  	top: 30px;
  }
 	a {
  	position: absolute;
  	right: 10px;
  	color: #fff;
  	&:hover {
  		color: #dddddd;
  	}
  }
}
	.alert-alert {
    padding: 0;
    margin: 0;
    text-align: center;
    color: red;
		position: absolute;
		top: 100px;
	}
	.form-login {
		margin: 150px 0 0 0;
		text-align: center;
		overflow: hidden;
		position: relative;
		@media screen and (max-width: 520px) {
	    overflow-y: auto;
	    max-height: 70vh;
	    margin-bottom: 100px;
		}
		.message {
			display: none;
		}
		#errors_panel {
			#error_explanation {
				.alert-danger {
					margin: 0;
				}
				ul {
					padding: 0;
					margin: 10px 0;
					li {
						list-style: none;
					}
				}
			}
		}
		em {
			display: none;
		}
		.remember {
			position: absolute;
			left: 260px;
			@media screen and (max-width: 520px) {
		    left: 84px;
		    top: 142px;
			}
		}
		.forgot-password {
			position: absolute;
	    right: 260px;
	    color: blue;
			@media screen and (max-width: 520px) {
		    right: 135px;
		    top: 165px;
			}
		}
		.login-social {
			padding: 0;
			margin: 0;
	    border-bottom: 1px solid #DDDDDD;
	    margin-bottom: 18px;
			li {
				list-style: none;
				display: inline-block;
				margin: 20px 10px;
/*				@media screen and (max-width: 520px) {
				}
				@media screen and (width: 320px) {
				}*/
				i {
					float: left;
				}
				.fa-facebook {
					background: #37518A;
					padding: 5px;
				}
				.fa-google {
					background: #C64734;
					padding: 5px;
				}
				a {
					text-decoration: none;
					color: #fff;
					font-weight: bold;
					padding: 0 5vw;
				}
			}
		}
		.register {
			padding: 0;
			margin: 0;
	    margin-bottom: 10px;
	    a {
	    	color: #fff;
	    	font-weight: bold;
	    	text-transform: uppercase;
	    	text-decoration: none;
	    }
		}
		.btn-login {
		  margin-top: 30px;
			@media screen and (max-width: 520px) {
				margin-top: 60px;
			}
			input {
		    /*background: none;*/
		    /*border: none;*/
			}
		}
		.field-input {
	    margin-bottom: 1vh;
	    margin-left: 23%;
	    input {
	    	width: 70%;
	    }
		}
		h2 {
			font-weight: bold;
		}
	}
	.scroll-menu {
		overflow-x: auto;
		position: fixed;
		top: 95px;
		background: #fff;
		z-index: 998;
		display: -webkit-box;
		width: 100%;
		.menu-sort {
			/*width: 157vw;*/
			width: 1675px;
			@media screen and (width: 1024px) {
				width: 1294px;
			}
			@media screen and (width: 768px) {
				width: 974px;
			}
			@media screen and (width: 414px) {
				width: 527px;
			}
			@media screen and (width: 412px) {
				width: 527px;
			}
			@media screen and (width: 375px) {
				width: 487px;
			}
			@media screen and (width: 360px) {
				width: 475px;
			}
			@media screen and (width: 320px) {
				width: 411px;
			}
			ul {
				padding: 0;
				margin: 0;
				li {
					list-style: none;
					display: inline-block;
					border-bottom: 8px solid #FFBC01;
					float: left;
					a {
						text-decoration: none;
						color: #000;
						padding: 3vh 10vw;
						font-size: 2em;
						display: block;
						@media screen and (width: 1024px) {
							padding: 3vh 92px;
							font-size: 2em;
						}
						@media screen and (width: 768px) {
							padding: 3vh 60px;
							font-size: 2em;
						}
						@media screen and (width: 414px) {
							padding: 3vh 34px;
							font-size: 1em;
						}
						@media screen and (width: 412px) {
							padding: 3vh 34px;
							font-size: 1em;
						}
						@media screen and (width: 375px) {
							padding: 3vh 8vw;
							font-size: 1em;
						}
						@media screen and (width: 360px) {
							padding: 3vh 8vw;
							font-size: 1em;
						}
						@media screen and (width: 320px) {
							padding: 3vh 7vw;
							font-size: 1em;
						}
					}
					&:hover {
						background: #FF7300;
					}
					&.actived {
						background: #FFBC01;
					}
				}
			}
		}
	}
	/* modal */
  #popup-index {
    .modal-content {
      background-color: transparent;
      box-shadow: none;
      border-color: transparent;

      img {
        width: 100%;
      }

      .btn {
        font-size: 30px;
        line-height: 45px;

        @media screen and (max-width: 520px) {
          font-size: 14px;
          line-height: 1.42857143;
        }
        width: 100%;
        border-radius: 3px;
        margin-top: 20px;
        white-space: unset;

        &.btn-blog {
          color: white;
          background-color: #ff7300;
          &:hover {
            background-color: #ffbc01;
          }
        }

        &.btn-profile {
          color: #36373d;
          background-color: white;
          font-size: 28px;
	        @media screen and (max-width: 520px) {
						font-size: 14px;
	        }
          &:hover {
            background-color: #dddddd;
          }
        }

        .arrow {
          font-size: 1em;
        }
      }
    }
  }
	/* index post */
	.container {
		@media screen and (max-width: 520px) {
			padding: 0;
			margin: 0;
		}
		.container-chat {
			margin-top: 120px;
		}
	  #my-posts {
	  	margin: 197px 0 100px 0;
			@media screen and (width: 1024px) {
				margin: 228px 0 100px 0;
			}
			@media screen and (width: 768px) {
				margin: 204px 0 100px 0;
			}
			@media screen and (width: 414px) {
				margin: 167px 0 60px 0;
			}
			@media screen and (width: 412px) {
				margin: 163px 0 53px 0;
			}
			@media screen and (width: 375px) {
				margin: 163px 0 49px 0;
			}
			@media screen and (width: 360px) {
				margin: 161px 0 52px 0;
			}
			@media screen and (width: 320px) {
				margin: 157px 0 46px 0;
			}
			.list-post {
				border-bottom: 1px solid #dddddd;
				padding: 20px 0 80px 0;
				position: relative;
				@media screen and (max-width: 520px) {
					padding: 20px 0 60px 0;
				}
				.post-title {
					margin: 0 0 0 25px;
			    font-size: 2em;
					@media screen and (max-width: 520px) {
						font-size: 1.5em;
					}
					@media screen and (width: 320px) {
						font-size: 18px;
    				margin-left: 35px;
    				margin-bottom: 0;
					}
		    	a {
		    		color: #000;
		    		text-decoration: none;
		    	}
				}
		    .post-suggest_true {
			    position: absolute;
			    top: 0;
			    img {
				    width: 60%;
				    height: auto;
				    margin-bottom: -18px;
			    }
		    }
				.post-publishtime {
			    float: left;
			    font-size: 2em;
			    margin-left: 25px;
			    position: absolute;
					bottom: 10px;
					left: 85px;
					color: rgb(167,167,167);
					font-family: "Roboto-Medium";
					@media screen and (max-width: 520px) {
						left: 43px;
						bottom: 8px;
						font-size: 18px;
					}
					@media screen and (width: 375px) {
						font-size: 18px;
					}
					@media screen and (width: 360px) {
						font-size: 1em;
					}
					@media screen and (width: 320px) {
						left: 45px;
						font-size: 1em;
					}
				}
				.post-category_study, .post-category_school, .post-category_family {
			    float: left;
			    font-size: 2em;
			    margin-left: 10px;
			    position: absolute;
			    bottom: 10px;
			    padding: 1px 5px;
					@media screen and (max-width: 520px) {
						font-size: 1em;
					}
					@media screen and (width: 320px) {
						font-size: 1em;
					}
				}
				.post-category_study {
			    border: 2px solid #0ea6ec;
			    color: #0ea6ec;
				}
				.post-category_school {
			    border: 2px solid #6cb000;
			    color: #6cb000;
				}
				.post-category_family {
			    border: 2px solid #e863b4;
			    color: #e863b4;
				}
				.post-vote {
					position: absolute;
					right: 0;
					bottom: 10px;
					ul {
						padding: 0;
						margin: 0;
						@media screen and (max-width: 520px) {
    					margin: 0 10px;
						}
						li {
							list-style: none;
							display: inline-block;
							img {
								width: 50px;
								margin: 0 40px 0 0;
								@media screen and (max-width: 520px) {
									width: 25px;
									margin: 0;
								}
								@media screen and (width: 320px) {
									width: 20px;
									margin: 0;
								}
							}
							span {
						    position: absolute;
						    bottom: 0;
								font-size: 3em;
								padding: 0px 0px 0px 55px;
								@media screen and (max-width: 520px) {
							    bottom: 0;
							    font-size: 1em;
							    padding: 0;
							    position: static;
								}
							}
						}
					}
				}
			}
	  }
		.infinite-scrolling {
			display: none;
		}
	}
	/* show post */
	.show-post {
		position: relative;
		margin-top: 96px;
		margin-bottom: 120px;
		.publishtime-show-post {
			margin: 20px 0 0 15px;
			float: left;
			color: #ADADAD;
			font-size: 2em;
			@media screen and (max-width: 520px) {
				font-size: 16px;
    		margin: 20px 0 0 5px;
			}
			@media screen and (width: 320px) {
				font-size: 14px;
    		margin: 20px 0 0 5px;
			}
		}
		.suggest-show-post_true, .suggest-show-post_false {
			position: absolute;
			left: 0;
			img {
				max-width: 60%;
				height: auto;
			}
		}
		.title-show-post {
	    font-size: 3em;
	    padding: 35px 20px 20px 20px;
	    border-bottom: 1px solid #DDDDDD;
			@media screen and (max-width: 520px) {
				font-size: 20px;
			}
		}
		.category-show-post_school, .category-show-post_study,
			.category-show-post_family {
			padding: 5px 10px;
    	font-size: 2em;
			float: left;
  		margin: 15px 0 0 20px;
			@media screen and (max-width: 520px) {
				font-size: 15px;
				padding: 0 10px;
			}
		}
		.category-show-post_study {
	    border: 2px solid #0ea6ec;
	    color: #0ea6ec;
		}
		.category-show-post_school {
	    border: 2px solid #6cb000;
	    color: #6cb000;
		}
		.category-show-post_family {
	    border: 2px solid #e863b4;
	    color: #e863b4;
		}
		.vote-show-post {
			float: right;
			margin: 10px 20px 0 0;
			@media screen and (max-width: 520px) {
				margin: -28px 10px 0 0;
			}
			@media screen and (width: 414px) {
				margin: 15px 20px 0 0;
			}
			@media screen and (width: 412px) {
				margin: 15px 20px 0 0;
			}
			@media screen and (width: 320px) {
				margin: -23px 10px 0 0;
			}
			ul {
				li {
					list-style: none;
					display: inline-block;
					img {
						max-width: 100%;
						height: auto;
						@media screen and (max-width: 520px) {
							width: 25px;
						}
						@media screen and (width: 320px) {
				    	width: 20px;
						}
					}
					span {
						font-size: 2em;
						@media screen and (max-width: 520px) {
							font-size: 15px;
						}
					}
				}
			}
		}
		.show-share-post {
			margin: 100px 0 270px 0;
			text-align: center;
			@media screen and (max-width: 520px) {
				padding: 0 20px;
			}
			@media screen and (max-width: 520px) {
				margin: 50px 0 0 0;
			}
			ul {
				padding: 0;
				li {
					list-style: none;
					display: inline-block;
					float: left;
					width: 33.333%
				}
			}
			.twitter-share-post, .facebook-share-post, .line-share-post {
		    padding: 70px 130px;
		    border-radius: 6%;
				@media screen and (max-width: 520px) {
					padding: 40px 25px;
				}
				@media screen and (max-width: 320px) {
					padding: 40px 18px;
				}
				img {
					width: 30%;
				}
			}
			.twitter-share-post	{
		    background: #50abf1;
				@media screen and (width: 1024px) {
					padding: 50px 100px;
				}
				@media screen and (width: 768px) {
					padding: 40px 80px;
				}
				@media screen and (width: 414px) {
					padding: 20px 40px;
				}
				@media screen and (width: 412px) {
					padding: 20px 40px;
				}
				@media screen and (width: 375px) {
					padding: 20px 38px;
				}
				@media screen and (width: 360px) {
					padding: 20px 35px;
				}
				@media screen and (width: 320px) {
					padding: 20px 30px;
				}
			}
			.facebook-share-post {
		    background: #3A559F;
				@media screen and (width: 1024px) {
					padding: 50px 100px;
				}
				@media screen and (width: 768px) {
					padding: 40px 80px;
				}
				@media screen and (width: 414px) {
					padding: 20px 40px;
				}
				@media screen and (width: 412px) {
					padding: 20px 40px;
				}
				@media screen and (width: 375px) {
					padding: 20px 38px;
				}
				@media screen and (width: 360px) {
					padding: 20px 35px;
				}
				@media screen and (width: 320px) {
					padding: 20px 30px;
				}
			}
			.line-share-post {
		    background: #00C200;
				@media screen and (width: 1024px) {
					padding: 50px 100px;
				}
				@media screen and (width: 768px) {
					padding: 40px 80px;
				}
				@media screen and (width: 414px) {
					padding: 20px 40px;
				}
				@media screen and (width: 412px) {
					padding: 20px 40px;
				}
				@media screen and (width: 375px) {
					padding: 20px 38px;
				}
				@media screen and (width: 360px) {
					padding: 20px 35px;
				}
				@media screen and (width: 320px) {
					padding: 20px 30px;
				}
			}
		}
		.thumbnail-show-post {
			@media screen and (max-width: 520px) {
				padding: 0 20px;
			}
			img {
		    margin: 30px 0px;
		    width: 100%;
			}
		}
		.content-show-post {
			font-size: 1.5em;
			@media screen and (max-width: 520px) {
				padding: 0 20px;
			}
			img {
				width: 100% !important;
				height: auto;
			}
			.ckeditor-html5-video {
				video {
					width: 100% !important;
					border-bottom: none;
				}
			}
		}
		.author-show-post {
			border: 1px dashed #999999;
	    border-radius: 30px;
	    padding: 20px;
	    margin: 20px;
	    position: relative;
  		height: 250px;
  		.avatar-author {
				position: absolute;
				left: 390px;
				@media screen and (width: 1024px) {
					left: 300px;
				}
				@media screen and (width: 768px) {
					left: 185px;
				}
				@media screen and (max-width: 520px) {
					left: 10px;
				}
				@media screen and (width: 414px) {
					left: 30px;
				}
  			img {
			    border-radius: 50%;
			    width: 100px;
			    height: 100px;
  			}
  		}
			.intro-author {
		    position: absolute;
		    top: 20px;
		    left: 520px;
		    text-decoration: underline;
		    color: #787878;
		    font-size: 1.5em;
		    margin: 0 0 10px 0;
				@media screen and (width: 1024px) {
					left: 440px;
				}
				@media screen and (width: 768px) {
					left: 320px;
				}
				@media screen and (max-width: 520px) {
					left: 125px;
				}
				@media screen and (width: 414px) {
					left: 140px;
				}
				@media screen and (width: 320px) {
					font-size: 16px;
				}
			}
			.name-author {
				position: absolute;
		    top: 40px;
		    left: 520px;
		    font-size: 2em;
		    color: #FF7300;
		    margin: 10px 0 10px 0;
				@media screen and (width: 1024px) {
					left: 440px;
				}
				@media screen and (width: 768px) {
					left: 320px;
				}
				@media screen and (max-width: 520px) {
					left: 125px;
				}
				@media screen and (width: 414px) {
					left: 140px;
				}
				@media screen and (width: 320px) {
					font-size: 20px;
				}
			}
			.position-author {
				position: absolute;
		    top: 73px;
		    left: 520px;
		    color: #787878;
		    font-size: 1.5em;
		    margin: 15px 0 0 0;
				@media screen and (width: 1024px) {
					left: 440px;
				}
				@media screen and (width: 768px) {
					left: 320px;
				}
				@media screen and (max-width: 520px) {
					left: 125px;
				}
				@media screen and (width: 414px) {
					left: 140px;
				}
			}
			.view-author {
				position: absolute;
				left: 370px;
				top: 160px;
				@media screen and (width: 1024px) {
					left: 250px;
				}
				@media screen and (width: 768px) {
					left: 130px;
				}
				@media screen and (max-width: 520px) {
					left: 15px;
					font-size: 15px;
				}
				@media screen and (width: 414px) {
					left: 25px;
					font-size: 15px;
				}
				a {
			    text-decoration: none;
			    color: #000;
			    padding: 30px 80px;
			    border-radius: 7px;
			    border: 1px solid;
					@media screen and (max-width: 520px) {
						padding: 25px 20px;
					}
					@media screen and (max-width: 375px) {
						padding: 25px 10px;
					}
					@media screen and (width: 360px) {
						padding: 25px 5px;
					}
					@media screen and (width: 320px) {
						padding: 25px 0px;
						font-size: 13px;
					}
			    &:hover {
			    	background: #787878;
			    	color: #fff;
			    }
				}
			}
		}
		.vote {
	    background-color: #FF7300;
	    text-align: center;
	    margin: 40px 0;
			.title-vote {
				font-size: 2em;
				color: #FFF;
				margin: 10px 0 10px 15px;
			}
			.vote-btn {
		    color: #FFF;
		    height: 136px;
		    line-height: 120px;
		    display: block;
		    background: url("/assets/background-vote.png") no-repeat;
		    background-size: 100% 100%;
		    margin: 0 0 20px 0;
		    font-size: 28px;
		    .icon-lol {
					background: url("/assets/votelol.png") no-repeat left;
		    }
		    .icon-smile {
					background: url("/assets/votesmile.png") no-repeat left;
		    }
		    .icon-cry {
					background: url("/assets/votecry.png") no-repeat left;
		    }
		    .icon-sad {
					background: url("/assets/votesad.png") no-repeat left;
		    }
		    span {
					display: inline-block;
					padding-left: 80px;
					@media screen and (max-width: 520px) {
				    font-size: 0;
				    padding-left: 64px;
					}
		    }
        &:hover {
          @media screen and (min-width: 1024px) {
	          color: #ff7300;
	          cursor: pointer;
	          background: url("/assets/colorbackground.png") no-repeat;
	          background-size: 100% 100%;
				    .icon-lol {
							background: url("/assets/vote-tick.png") no-repeat left;
				    }
				    .icon-smile {
							background: url("/assets/vote-tick.png") no-repeat left;
				    }
				    .icon-cry {
							background: url("/assets/vote-tick.png") no-repeat left;
				    }
				    .icon-sad {
							background: url("/assets/vote-tick.png") no-repeat left;
				    }
          }
        }
			}
  		.actived-vote {
  			background: url("/assets/colorbackground.png") no-repeat;
  			background-size: 100% 100%;
  			color: #FF7300 !important;
        .icon-lol, .icon-smile, .icon-cry, .icon-sad {
          background: url("/assets/vote-tick.png") no-repeat left;
        }
  		}
		}
		.share-post-bottom {
			text-align: center;
			font-size: 2em;
		}
	}

	.show-post-author {
		position: relative;
		margin: 120px 0 0 200px;
    @media screen and (width: 1024px) {
      margin: 120px 0 0 100px;
    }
    @media screen and (width: 768px) {
      background-position: center;
      margin: 120px 0 0 0;
    }
    @media screen and (max-width: 520px) {
      background-position: center;
      margin: 120px 0 0 0;
    }
    .show-author-backgroundimage {
			img {
		    @media screen and (max-width: 520px) {
		    	width: 200px;
		    }
		    @media screen and (max-width: 320px) {
		    	width: 165px;
		    }
			}
    }
		.show-author-backgroundimage, .show-author-name,
			.show-author-position, .show-author-email, .show-author-age, .text1-show-author {
				position: absolute;
  			font-size: 1.5em;
/*  			input, .fa-ban, .fa-save {
  				display: none;
  			}
  			i {
  				cursor: pointer;
  			}
  			.lable-name-user, .lable-email-user {
			    background: #F7B600;
			    color: #fff;
			    border-radius: 30px;
  			}
  			.show-name-user, .show-email-user {
  				padding: 0;
  			}*/
		}
		.show-user-name, .show-user-email {
				position: absolute;
  			font-size: 1.5em;
  			input, .fa-ban, .fa-save {
  				display: none;
  			}
  			i {
  				cursor: pointer;
  			}
  			.lable-name-user, .lable-email-user {
			    background: #F7B600;
			    color: #fff;
			    border-radius: 30px;
  			}
  			.show-name-user, .show-email-user {
  				padding: 0;
  			}
		}
		.show-avatar-user {
			width: 10%;
			border-radius: 50%;
			position: absolute;
			top: 30px;
			left: 35%;
			cursor: pointer;
	    @media screen and (width: 1024px) {
				width: 20%;
				left: 40%;
	    }
	    @media screen and (width: 768px) {
				width: 20%;
				left: 40%;
	    }
	    @media screen and (width: 414px) {
				width: 30%;
				top: 10px;
	    }
	    @media screen and (width: 412px) {
				width: 30%;
				top: 10px;
	    }
	    @media screen and (width: 375px) {
				width: 30%;
				top: 20px;
	    }
	    @media screen and (width: 360px) {
				width: 30%;
				top: 20px;
	    }
	    @media screen and (width: 320px) {
				width: 30%;
				top: 20px;
	    }
		}
		.show-user-name {
			top: 155px;
			left: 25%;
	    @media screen and (width: 1024px) {
		    top: 220px;
		    left: 30%;
		    font-size: 40px;
	    }
	    @media screen and (width: 768px) {
	    	top: 200px;
				left: 30%;
				font-size: 30px;
	    }
	    @media screen and (width: 414px) {
				left: 5%;
	    }
	    @media screen and (width: 412px) {
				left: 5%;
	    }
	    @media screen and (width: 375px) {
				left: 5%;
	    }
	    @media screen and (width: 360px) {
				left: 5%;
	    }
	    @media screen and (width: 320px) {
	    	font-size: 19px;
				left: 5%;
	    }
			.lable-name-user {
				padding: 2px 10px;
			}
		}
		.show-user-email {
	    top: 215px;
	    left: 25%;
	    @media screen and (width: 1024px) {
		    top: 300px;
		    left: 30%;
		    font-size: 40px;
	    }
	    @media screen and (width: 768px) {
	    	top: 265px;
				left: 30%;
				font-size: 30px;
	    }
	    @media screen and (width: 414px) {
				left: 5%;
	    }
	    @media screen and (width: 412px) {
				left: 5%;
	    }
	    @media screen and (width: 375px) {
				left: 5%;
	    }
	    @media screen and (width: 360px) {
				left: 5%;
	    }
	    @media screen and (width: 320px) {
	    	font-size: 19px;
				left: 5%;
	    }
			.lable-email-user {
				padding: 2px 14px;
			}
		}
		.text1-show-author {
	    top: 100px;
	    left: 285px;
	    @media screen and (max-width: 520px) {
		    top: 70px;
		    left: 190px;
		    font-size: 135%;
	    }
	    @media screen and (width: 412px) {
		    top: 70px;
		    left: 190px;
	    }
	    @media screen and (width: 360px) {
				top: 70px;
				left: 170px;
				font-size: 135%;
	    }
	    @media screen and (width: 320px) {
				top: 70px;
				left: 149px;
				font-size: 120%;
	    }
		}
		.text2-show-author {
			position: absolute;
			font-size: 3em;
			color: #FE7200;
	    top: 150px;
	    left: 285px;
	    @media screen and (max-width: 520px) {
		    font-size: 150%;
		    left: 195px;
		    top: 105px;
	    }
	    @media screen and (width: 412px) {
		    font-size: 23px;
		    left: 195px;
		    top: 105px;
	    }
	    @media screen and (width: 360px) {
				font-size: 150%;
				left: 175px;
				top: 105px;
	    }
	    @media screen and (width: 320px) {
				font-size: 120%;
				left: 160px;
				top: 105px;
	    }
		}
		.show-author-name {
	    top: 230px;
	    left: 285px;
	    @media screen and (max-width: 520px) {
		    left: 195px;
		    font-size: 100%;
		    top: 160px;
	    }
	    @media screen and (width: 412px) {
		    left: 195px;
		    font-size: 18px;
		    top: 160px;
	    }
	    @media screen and (width: 320px) {
		    left: 170px;
		    font-size: 100%;
		    top: 140px;
	    }
	    span {
	    	padding: 5px 24px;
		    @media screen and (max-width: 520px) {
					padding: 5px 7vw;
		    }
		    @media screen and (width: 414px) {
					padding: 5px 1vw;
		    }
		    @media screen and (width: 412px) {
					padding: 5px 0;
		    }
		    @media screen and (width: 375px) {
					padding: 5px 1vw;
		    }
		    @media screen and (width: 360px) {
					padding: 5px 0;
		    }
		    @media screen and (width: 320px) {
					padding: 5px 0;
		    }
	    }
		}
		.show-author-position {
	    top: 280px;
	    left: 285px;
	    @media screen and (max-width: 520px) {
		    left: 195px;
		    font-size: 100%;
		    top: 200px;
	    }
	    @media screen and (width: 412px) {
		    left: 195px;
		    font-size: 18px;
		    top: 200px;
	    }
	    @media screen and (width: 320px) {
		    left: 170px;
		    font-size: 100%;
		    top: 170px;
	    }
	    span {
	    	padding: 5px 15px;
		    @media screen and (max-width: 520px) {
					padding: 5px 5vw;
		    }
		    @media screen and (width: 414px) {
					padding: 5px 1vw;
		    }
		    @media screen and (width: 412px) {
					padding: 5px 0;
		    }
		    @media screen and (width: 375px) {
					padding: 5px 1vw;
		    }
		    @media screen and (width: 360px) {
					padding: 5px 0;
		    }
		    @media screen and (width: 320px) {
					padding: 5px 0;
		    }
	    }
		}
		.show-author-email {
	    top: 280px;
	    left: 285px;
	    @media screen and (max-width: 520px) {
		    top: 200px;
		    left: 195px;
		    font-size: 100%;
	    }
	    span {
	    	padding: 5px 26px;
		    @media screen and (max-width: 520px) {
					padding: 5px 7vw;
		    }
	    }
		}
		.show-author-age {
	    top: 330px;
	    left: 285px;
	    @media screen and (max-width: 520px) {
		    left: 195px;
		    font-size: 100%;
		    top: 240px;
	    }
	    @media screen and (width: 412px) {
		    left: 195px;
		    font-size: 18px;
		    top: 240px;
	    }
	    @media screen and (width: 320px) {
				left: 170px;
				font-size: 100%;
				top: 200px;
	    }
	    span {
	    	padding: 5px 34px;
		    @media screen and (max-width: 520px) {
					padding: 5px 8vw;
		    }
		    @media screen and (width: 414px) {
					padding: 5px 1vw;
		    }
		    @media screen and (width: 412px) {
					padding: 5px 0;
		    }
		    @media screen and (width: 375px) {
					padding: 5px 1vw;
		    }
		    @media screen and (width: 360px) {
					padding: 5px 0;
		    }
		    @media screen and (width: 320px) {
					padding: 0;
		    }
	    }
		}
		.image-title-show-author {
			position: absolute;
			top: 400px;
			margin-bottom: 150px;
	    @media screen and (max-width: 520px) {
				top: 310px;
	    }
	    @media screen and (width: 412px) {
				top: 310px;
	    }
			img {
				width: 100%;
			}
		}
	}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	.navbar-nav {
    @media screen and (max-width: 520px) {
			margin: 0;
    }
	}
	ul {
		background: #40414A;
		display: table;
		width: 100%;
		margin: 0;
    @media screen and (max-width: 520px) {
			display: flex;
			height: 8vh;
    }
    @media screen and (width: 414px) {
			height: 8vh;
    }
    @media screen and (width: 412px) {
			height: 7vh;
    }
    @media screen and (width: 375px) {
			height: 7vh;
    }
    @media screen and (width: 360px) {
			height: 8vh;
    }
    @media screen and (width: 320px) {
			height: 8vh;
    }
		.actived a {
			color: #ff7300;
		}
		li {
	    display: table-cell;
	    float: none;
	    text-align: center;
	    vertical-align: middle;
	    height: 98px;
	    font-size: 1em;
	    width: 33.33333333%;
	    @media screen and (width: 414px) {
				font-size: 11px;
	    }
	    @media screen and (width: 412px) {
				font-size: 11px;
	    }
	    @media screen and (width: 375px) {
				font-size: 11px;
	    }
	    @media screen and (width: 360px) {
				font-size: 10px;
	    }
	    @media screen and (width: 320px) {
				font-size: 10px;
	    }
	    a {
				color: white;
				height: 98px;
				line-height: 48px;
		    @media screen and (width: 414px) {
					line-height: 0 !important;
					padding-top: 4px !important;
		    }
		    @media screen and (width: 412px) {
					line-height: 0 !important;
					padding-top: 4px !important;
		    }
		    @media screen and (width: 375px) {
					padding-top: 5px !important;
		    }
		    @media screen and (width: 360px) {
					line-height: 0 !important;
					padding-top: 4px !important;
		    }
		    @media screen and (width: 320px) {
					line-height: 0 !important;
					padding-top: 4px !important;
		    }
        &:hover {
          color: #ff7300;
          background-color: #36373d !important;
        }
				.icon-footer {
			    width: 52px;
			    height: 52px;
			    margin-right: auto;
			    margin-left: auto;
			    @media screen and (width: 414px) {
						margin-right: 4vw;
						height: 45px;
			    }
			    @media screen and (width: 412px) {
				    margin-right: 15px;
				    height: 35px;
			    }
			    @media screen and (width: 375px) {
				    margin-right: 2vw;
				    height: 25px;
			    }
			    @media screen and (width: 360px) {
				    margin-right: 2vw;
				    height: 39px;
			    }
			    @media screen and (width: 320px) {
				    margin-right: 0;
				    height: 36px;
			    }
				}
	    }
		}
		#chat {
			.icon-chat {
  			background: url("/assets/chat.png") no-repeat;
		    @media screen and (width: 414px) {
					background-size: 9vw;
		    }
		    @media screen and (width: 412px) {
					background-size: 7vw;
		    }
		    @media screen and (width: 375px) {
					background-size: 7vw;
		    }
		    @media screen and (width: 360px) {
					background-size: 9vw;
		    }
		    @media screen and (width: 320px) {
					background-size: 9vw;
		    }
			}
			&:hover .icon-chat {
				background: url("/assets/chat-active.png") no-repeat;
		    @media screen and (width: 414px) {
					background-size: 9vw;
		    }
		    @media screen and (width: 412px) {
					background-size: 7vw;
		    }
		    @media screen and (width: 375px) {
					background-size: 7vw;
		    }
		    @media screen and (width: 360px) {
					background-size: 9vw;
		    }
		    @media screen and (width: 320px) {
					background-size: 9vw;
		    }
			}
			&.actived .icon-chat {
				background: url("/assets/chat-active.png") no-repeat;
		    @media screen and (width: 414px) {
					background-size: 9vw;
		    }
		    @media screen and (width: 412px) {
					background-size: 7vw;
		    }
		    @media screen and (width: 375px) {
					background-size: 7vw;
		    }
		    @media screen and (width: 360px) {
					background-size: 9vw;
		    }
		    @media screen and (width: 320px) {
					background-size: 9vw;
		    }
			}
		}
		#post {
			.icon-post {
  			background: url("/assets/post.png") no-repeat;
		    @media screen and (width: 414px) {
					background-size: 10vw;
		    }
		    @media screen and (width: 412px) {
					background-size: 8vw;
		    }
		    @media screen and (width: 375px) {
					background-size: 8vw;
		    }
		    @media screen and (width: 360px) {
					background-size: 10vw;
		    }
		    @media screen and (width: 320px) {
					background-size: 10vw;
		    }
			}
			&:hover .icon-post {
				background: url("/assets/post-active.png") no-repeat;
		    @media screen and (width: 414px) {
					background-size: 10vw;
		    }
		    @media screen and (width: 412px) {
					background-size: 8vw;
		    }
		    @media screen and (width: 375px) {
					background-size: 8vw;
		    }
		    @media screen and (width: 360px) {
					background-size: 10vw;
		    }
		    @media screen and (width: 320px) {
					background-size: 10vw;
		    }
			}
			&.actived .icon-post {
				background: url("/assets/post-active.png") no-repeat;
		    @media screen and (width: 414px) {
					background-size: 10vw;
		    }
		    @media screen and (width: 412px) {
					background-size: 8vw;
		    }
		    @media screen and (width: 375px) {
					background-size: 8vw;
		    }
		    @media screen and (width: 360px) {
					background-size: 10vw;
		    }
		    @media screen and (width: 320px) {
					background-size: 10vw;
		    }
			}
		}
		#profile {
			.icon-user {
  			background: url("/assets/profile.png") no-repeat;
		    @media screen and (width: 414px) {
					background-size: 9vw;
		    }
		    @media screen and (width: 412px) {
					background-size: 7vw;
		    }
		    @media screen and (width: 375px) {
					background-size: 7vw;
		    }
		    @media screen and (width: 360px) {
					background-size: 9vw;
		    }
		    @media screen and (width: 320px) {
					background-size: 9vw;
		    }
			}
			&:hover .icon-user {
				background: url("/assets/profile-active.png") no-repeat;
		    @media screen and (width: 414px) {
					background-size: 9vw;
		    }
		    @media screen and (width: 412px) {
					background-size: 7vw;
		    }
		    @media screen and (width: 375px) {
					background-size: 7vw;
		    }
		    @media screen and (width: 360px) {
					background-size: 9vw;
		    }
		    @media screen and (width: 320px) {
					background-size: 9vw;
		    }
			}
			&.actived .icon-user {
				background: url("/assets/profile-active.png") no-repeat;
		    @media screen and (width: 414px) {
					background-size: 9vw;
		    }
		    @media screen and (width: 412px) {
					background-size: 7vw;
		    }
		    @media screen and (width: 375px) {
					background-size: 7vw;
		    }
		    @media screen and (width: 360px) {
					background-size: 9vw;
		    }
		    @media screen and (width: 320px) {
					background-size: 9vw;
		    }
			}
		}
	}
}
