<footer>
	<ul class="nav navbar-nav">
		<li id="chat" class="<%= active_class(chats_path) %>">
			<% if user_signed_in? %>
				<%= link_to chats_path, class: 'text-center' do %>
					<div class="icon-footer icon-chat"></div>トーク
				<% end %>
			<% end %>
		</li>
		<li id="post" class="<%= active_class(posts_path) %>
			<%= active_class("/posts/#{@post.id}") if @post.present? %>
				<%= active_class(post_author_posts_path(@post)) if @post.present? %>">
					<%= link_to posts_path, class: 'text-center' do %>
						<div class="icon-footer icon-post"></div>ブログ
					<% end %>
		</li>
		<% if user_signed_in? %>
			<li id="profile" class="<%= active_class user_path(current_user.id) %>">
					<%= link_to user_path(current_user.id), class: 'text-center' do %>
						<div class="icon-footer icon-user"></div>プロフィール
					<% end %>
			</li>
		<% end %>
	</ul>
</footer>
