<div id="menu-admin">
  <div class="container">
    <% if admin_signed_in? %>
      <ul>
       <li>
         <%= link_to admins_root_path do %>
          EMS-Blog
         <% end %>
       </li>
       <li class="dropdown">
        <span class="dropdown-toggle" data-toggle="dropdown">
          ブログ
          <span class="caret"></span>
        </span>
        <ul class="dropdown-menu">
          <li class="<%= active_class_admin(admins_posts_path) %>">
            <%= link_to admins_posts_path do %>
              ブログ記事一覧
            <% end %>
          </li>
          <li class="<%= active_class_admin(new_admins_post_path) %>">
            <%= link_to new_admins_post_path do %>
              ブログ記事新規作成
            <% end %>
          </li>
        </ul>
       </li>
       <li class="pull-right">
         <%= link_to destroy_admin_session_path, method: :delete do %>
          Logout
         <% end %>
       </li>
      </ul>
    <% end %>
  </div>
</div>