<header>
	<div class="back">
		<%= yield :btn_back %>
	</div>
	<div class="bell">
		<%= yield :bell %>
	</div>
	<div class="title">
		<%= yield :title %>
	</div>
	<div class="signout">
		<%= yield :sign_out %>
	</div>
</header>