<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <div id="admin">
      <%= render "layouts/header" %>
      <div class="container">
        <%= yield %>
      </div>
      <%= render "/layouts/footer" %>
    </div>
  </body>
</html>
