<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "users", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "users",
      "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <%= render "layouts/header_user" %>
    <%= yield %>
    <%= render "/layouts/footer_user" %>
  </body>
</html>
